{{ define "content" }}
<p class="title">Account</p>
<div class="container is-widescreen">
  <form id="accountForm" accept-charset="utf-8" autocomplete="off">
    <div class="columns">
      <div class="column is-two-thirds">
        <div class="field">
          <label for="editName" class="label">Name</label>
          <div class="control">
            <input type="text" class="input" id="editName" placeholder="Enter account name" required>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label for="editCurrency" class="label">Currency</label>
          <div class="control">
            <input type="text" class="input" id="editCurrency" placeholder="Enter account currency" required>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <label class="checkbox"><input type="checkbox" id="includeInTotal"> Include in total</label>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <label class="checkbox"><input type="checkbox" id="showInList"> Show in accounts list</label>
      </div>
    </div>
    <div class="field">
      <p class="control">
        <button type="submit" class="button is-primary">Save</button>
      </p>
    </div>
    <div class="field">
      <div id="saveResult" class="notification  animate__animated animate__flipInX" role="alert" hidden></div>
    </div>
    <div class="field">
      <p class="control">
        <button id="deleteButton" class="button is-danger">Delete</button>
      </p>
    </div>
    <div class="field">
      <div id="deleteResult" class="notification  animate__animated animate__flipInX" role="alert" hidden></div>
    </div>
  </form>
</div>
{{ if .Form.uuid }}
<script>
  var accountUUID = '{{ index .Form "uuid" 0 }}';
</script>
{{ end }} 
<script>
  var action = '{{ index .Form "action" 0 }}';
</script>
<script>
document.addEventListener('DOMContentLoaded', () => {
  var account = null;
  var componentsCounter = 0;

  var nameEditor = document.querySelector('input[id="editName"]');
  var currencyEditor = document.querySelector('input[id="editCurrency"]');
  var includeInTotal = document.querySelector('input[id="includeInTotal"]');
  var showInList = document.querySelector('input[id="showInList"]');
  var submit = document.querySelector('button[type="submit"]');
  var deleteButton = document.querySelector('button[id="deleteButton"]');
  var accountForm = document.getElementById("accountForm");
  var saveResult = document.getElementById("saveResult");
  var deleteResult = document.getElementById("deleteResult");

  var lockForm = function(lock) {
    var inputs = accountForm.querySelectorAll("input");
    for (var i = 0; i < inputs.length; ++i)
      inputs[i].disabled = lock;
  };

  var showResultAlert = function(alertDiv, isSuccessful, msg){
    alertDiv.hidden = false;
    alertDiv.textContent = msg;
    if (isSuccessful) {
      alertDiv.classList.add("is-success");
      alertDiv.classList.remove("is-danger");
    } else {
      alertDiv.classList.remove("is-success");
      alertDiv.classList.add("is-danger");
    }
  };

  var updateForm = function() {
    nameEditor.value = account.Name;
    currencyEditor.value = account.Currency;
    includeInTotal.checked = account.IncludeInTotal;
    showInList.checked = account.ShowInList;
    lockForm(false);
  };

  // Submit handler
  accountForm.addEventListener("submit", function(event){
    event.preventDefault();
    lockForm(true);
    saveResult.hidden = true;
    submit.classList.add("is-loading");
    account.Name = nameEditor.value;
    account.Currency = currencyEditor.value;
    account.IncludeInTotal = includeInTotal.checked;
    account.ShowInList = showInList.checked;
    var uuid = account.UUID || "new";
    reqPostJSON("api/account/" + uuid, account, function() {
      window.location.href = "accounts";
      showResultAlert(saveResult, true, "Saved successfully");
      submit.classList.remove("is-loading");
    }, function() {
      showResultAlert(saveResult, false, "Save failed");
      lockForm(false);
      submit.classList.remove("is-loading");
    });
  });


  // Delete handler
  deleteButton.addEventListener('click', (event) => {
    event.preventDefault();
    lockForm(true);
    deleteResult.hidden = true;
    deleteButton.classList.add("is-loading");
    reqDelete("api/account/" + accountUUID, function() {
      window.location.href = "accounts";
      showResultAlert(deleteResult, true, "Deleted successfully");
      deleteButton.classList.remove("is-loading");
    }, function(){
      showResultAlert(deleteResult, false, "Delete failed");
      lockForm(false);
      deleteButton.classList.remove("is-loading");
    });
  });
  if (action !== "edit")
    deleteButton.remove();

  var loadAccount = function() {
    lockForm(true);
    if (action === "edit") {
      reqGet("api/account/" + accountUUID, function(data){
        account = JSON.parse(data);
        updateForm();
      }, function() {
        removeChildren(accountForm);
        accountForm.insertAdjacentHTML("afterbegin", '<div class="notification is-danger animate__animated animate__flipInX" role="alert">Failed to fetch account details.</div>')
      });
    } else if (action === "new") {
      account = {Name: "", Currency: "", IncludeInTotal: true, ShowInList: true};
      updateForm();
    }
  }
  loadAccount();
});
</script>
{{ end }}