{{ define "content" }}
<p class="title">Report</p>
<div class="container is-widescreen">
  <div id="reportTarget" class="content"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.0/chart.umd.min.js" integrity="sha512-0gS26t/01v98xlf2QF4QS1k32/YHWfFs8HfBM/j7gS97Tr8WxpJqoiDND8r1HgFwGGYRs0aRt33EY8xE91ZgJw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js" integrity="sha512+H4iLjY3JsKiF2V6N366in5IQHj2uEsGV7Pp/GRcm0fn76aPAk5V8xB6n8fQhhSonTqTXs/klFz4D0GIn6Br9g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-adapter-moment/1.0.1/chartjs-adapter-moment.min.js" integrity="sha512-hVy4KxCKgnXi2ok7rlnlPma4JHXI1VPQeempoaclV1GwRHrDeaiuS1pI6DVldaj5oh6Opy2XJ2CTljQLPkaMrQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  var params = {
    filterDescription: '{{ index .Form "filterDescription" 0 }}',
    filterFrom: '{{ index .Form "filterFrom" 0 }}',
    filterTo: '{{ index .Form "filterTo" 0 }}',
    filterTags: '{{ index .Form "filterTags" 0 }}',
    filterAccounts: '{{ index .Form "filterAccounts" 0 }}',
    filterIncludeExpenseIncome: '{{ index .Form "filterIncludeExpenseIncome" 0 }}',
    filterIncludeTransfer: '{{ index .Form "filterIncludeTransfer" 0 }}'
  };
</script>
<script>
document.addEventListener('DOMContentLoaded', () => {
  var reportTarget = document.getElementById("reportTarget");
  var balanceChartOptions = {
    responsive: true,
    interaction: {
      mode: 'nearest',
      intersect: false,
    },
    plugins:{
      legend: {
        display: false,
      },
      tooltip: {
        callbacks: {
          title: function(context) {
            return context[0].raw.x
          }
        }
      }
    },
    scales: {
      x: {
        type: 'time',
        distribution: 'linear',
        time: {
          unit: 'day',
          minUnit: 'day'
        },
        ticks: {
          source: 'auto',
          autoSkip: true
        }
      },
      y: {
        title: {
          display: false
        }
      }
    },
    fill: true,
  };
  var tagsChartOptions = {
    indexAxis: 'y',
    responsive: true,
    interaction: {
      mode: 'point',
      intersect: false,
    },
    tooltips: {
      intersect: false,
    },
    plugins:{
      legend: {
        display: false,
      },
      tooltip: {
        callbacks: {
          title: function(context) {
            if (context[0] === undefined)
              return undefined;
            return context[0].dataset.label;
          },
          label: function(context) {
            if (context === undefined)
              return undefined;
            return context.formattedValue;
          }
        }
      }
    },
    scales: {
      x: {
        stacked: true,
      },
      y: {
        stacked: true
      }
    }
  };
  var colors = [
		'#4dc9f6',
		'#f67019',
		'#f53794',
		'#537bc4',
		'#acc236',
		'#166a8f',
		'#00a950',
		'#58595b',
		'#8549ba'
	];

  var addProgress = function() {
    removeChildren(reportTarget);
    reportTarget.insertAdjacentHTML("afterbegin", '<progress class="progress is-primary" max="100"></progress>');
  }
  var updateReport = function(report) {
    removeChildren(reportTarget);
    for (var currency in report.BalanceChart) {
      var currencyChartDiv = document.createElement("div");
      reportTarget.append(currencyChartDiv);
      var currencyChartTitle = document.createElement("h3")
      currencyChartDiv.append(currencyChartTitle);
      currencyChartTitle.textContent = "Balance for "+ currency;
      var currencyChart = report.BalanceChart[currency];
      var data = [];
      for (var date in currencyChart)
        data.push({x: date, y: (currencyChart[date]/100).toFixed(2)});
      var dataset = {
        datasets: [{
          radius: 0,
          data: data,
          backgroundColor: colors[0],
          borderColor: colors[0],
          stepped: 'before'
        }]
      }
      var ctx = document.createElement("canvas");
      currencyChartDiv.append(ctx);
      var balanceChart = new Chart(ctx, {
        type: 'line',
        data: dataset,
        options: balanceChartOptions
      });
    }
    for (var currency in report.TagsChart) {
      var tagsChartDiv = document.createElement("div");
      reportTarget.append(tagsChartDiv);
      var tagsChartTitle = document.createElement("h3")
      tagsChartDiv.append(tagsChartTitle);
      tagsChartTitle.textContent = "Tags for "+ currency;
      var tagsChart = report.TagsChart[currency];
      var tags = {};
      var appendTag = function(tag){
        tags[tag] = null;
      };
      Object.keys(tagsChart.Positive).forEach(appendTag);
      Object.keys(tagsChart.Negative).forEach(appendTag);
      Object.keys(tagsChart.Transfer).forEach(appendTag);
      tags = Object.keys(tags);
      var incomeData = [];
      var expenseData = [];
      var transferData = [];
      var convertAmount = function(amount) {
        if (amount !== null && amount !== undefined) {
          return (amount/100).toFixed(2);
        }
        return 0.00;
      }
      var tagDatasets = [];
      var getColor = function(i){
        var colorIndex = i % colors.length;
        return colors[colorIndex];
      }
      for (var i in tags) {
        var tag = tags[i];
        tagDatasets.push({
          axis: 'y',
          label: tags[i],
          data: [
            convertAmount(tagsChart.Positive[tag]),
            convertAmount(tagsChart.Negative[tag]),
            convertAmount(tagsChart.Transfer[tag])
          ],
          backgroundColor: getColor(i)
        });
      }
      var dataset = {
        labels: ['Income','Expense','Transfer'],
        datasets: tagDatasets
      };
      var ctx = document.createElement("canvas");
      tagsChartDiv.append(ctx);
      var tagsChart = new Chart(ctx, {
        type: 'bar',
        data: dataset,
        options: tagsChartOptions
      });
    }
  }

  var loadData = function() {
    addProgress();
    reqPostForm("api/report", params, function(data) {
      data = JSON.parse(data);
      updateReport(data);
    }, function() {
      removeChildren(reportTarget);
      reportTarget.insertAdjacentHTML("afterbegin", '<div class="notification is-danger animate__animated animate__flipInX" role="alert">Failed to generate report.</div>')
    });
  }
  loadData();
});
</script>
{{ end }}
