{{ define "content" }}
<p class="title">Settings</p>
<div class="container is-widescreen">
  <form id="configurationForm" accept-charset="utf-8" autocomplete="off">
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label for="editUsername" class="label">Username</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            <input type="text" class="input" id="editUsername" placeholder="Username" required>
          </p>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label for="editPassword" class="label">Password</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            <input type="password" class="input" id="editPassword" placeholder="Password">
          </p>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label for="restoreBackupFile" class="label">Restore backup</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <div class="file has-name is-fullwidth" id="restoreBackupField">
              <label class="file-label">
                <input class="file-input" type="file" name="restoreBackupFile">
                <span class="file-cta">
                  <span class="file-label">Choose file to restore</span>
                </span>
                <span class="file-name"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal"></div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <div id="restoreWarning" class="notification is-warning animate__animated animate__flipInX" role="alert" hidden>Restoring a backup will overwrite all existing data</div>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal"></div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            <button type="submit" class="button is-primary">Save</button>
          </p>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal"></div>
      <div class="field-body">
        <div class="field">
          <div id="saveResult" class="notification animate__animated animate__flipInX" role="alert" hidden></div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal"></div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            <button id="backupData" class="button" href="api/backup">Backup data</button>
          </p>
        </div>
      </div>
    </div>
  </form>
</div>
<script>
document.addEventListener('DOMContentLoaded', () => {
  var username = document.querySelector('input[id="editUsername"]');
  var password = document.querySelector('input[id="editPassword"]');
  var restoreBackupFile = document.querySelector('#restoreBackupField input[type="file"]');
  var restoreBackupFileWarning = document.querySelector('#restoreWarning');
  var submit = document.querySelector('button[type="submit"]');
  var configurationForm = document.getElementById("configurationForm");
  var saveResult = document.getElementById("saveResult");
  var updateRestoreWarning = function(){
    restoreBackupFileWarning.hidden = !(restoreBackupFile.files.length > 0);
  };
  var updateRestoreFilename = function(){
    var fileName = document.querySelector('#restoreBackupField .file-name');
    if (restoreBackupFile.files.length > 0) {
      fileName.textContent = restoreBackupFile.files[0].name;
    } else {
      fileName.textContent = "";
    }
    updateRestoreWarning();
  };
  var lockConfiguration = function(processing){
    [restoreBackupFile, username, password, submit].forEach(function(control){
      control.disabled = processing;
    });
    updateRestoreWarning();
  }
  var showResultAlert = function(isSuccessful, msg){
    saveResult.hidden = false;
    saveResult.textContent = msg;
    if (isSuccessful) {
      saveResult.classList.add("is-success");
      saveResult.classList.remove("is-danger");
    } else {
      saveResult.classList.remove("is-success");
      saveResult.classList.add("is-danger");
    }
  };
  
  var updateFormValues = function(settings) {
    username.value = settings.Username;
    password.value = "";
    restoreBackupFile.value = null;
    updateRestoreFilename();
  }
  restoreBackupFile.onchange = updateRestoreFilename;
  // Load current field items
  var loadItems = function() {
    lockConfiguration(true);
    reqGet("api/settings", function(settings) {
      lockConfiguration(false);
      updateFormValues(JSON.parse(settings));
    }, function() {
      removeChildren(configurationForm);
      configurationForm.insertAdjacentHTML("afterbegin", '<div class="notification is-danger animate__animated animate__flipInX" role="alert">Failed to fetch current settings.</div>')
    });
  }
  loadItems();

  // Submit configuration handler
  configurationForm.addEventListener("submit", function(event){
    event.preventDefault();
    lockConfiguration(true);
    saveResult.hidden = true;
    submit.classList.add("is-loading");

    // Prepare request
    var postData = {Username: username.value, Password: password.value};
    if(postData.Password === null || postData.Password === undefined || postData.Password === '')
      delete postData.Password;

    // Send data
    var formData = new FormData();
    formData.append("form", encodeJSONToForm(postData));
    if(restoreBackupFile.files.length > 0)
      formData.append("restorefile", restoreBackupFile.files[0]);

    var showError = function() {
      showResultAlert(false, "Save failed");
      lockConfiguration(false);
      submit.classList.remove("is-loading");
    };

    var request = new XMLHttpRequest();
    request.open("POST", "api/settings", true);
    request.onload = function() {
      if (this.status >= 200 && this.status < 400) {
        showResultAlert(true, "Saved successfully");
        updateFormValues(JSON.parse(this.response));
        lockConfiguration(false);
        submit.classList.remove("is-loading");
      } else {
        showError();
      }
    };
    request.onerror = showError; 
    request.send(formData);
  });

  //Backup button
  var backupDataButton = document.getElementById("backupData");
  backupDataButton.addEventListener('click', (event) => {
    event.preventDefault();
    var exportForm = document.createElement("form");
    exportForm.setAttribute("method", "post");
    exportForm.setAttribute("action", "api/backup")
    exportForm.hidden = true;

    var body = document.querySelector("body");
    body.append(exportForm);
    exportForm.submit();
    exportForm.remove();
  });
});
</script>
{{ end }}