{{ define "content" }}
<p class="title">Trasaction</p>
<div class="container is-widescreen">
  <div class="content" id="loadAlerts"></div>
  <form id="transactionForm" accept-charset="utf-8" autocomplete="off">
    <div class="columns">
      <div class="column is-two-thirds">
        <div class="field">
          <label for="editDescription" class="label">Description</label>
          <input type="text" class="input" id="editDescription" placeholder="Enter transaction description" required>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label for="editDate" class="label">Date</label>
          <div class="control">
            <input type="date" class="input" id="editDate" placeholder="Enter transaction date" required>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <label class="radio">
          <input type="radio" id="typeExpenseIncome" name="selectType" value="0" required>
          Expense/Income
        </label>
        <label class="radio">
          <input type="radio" id="typeTransfer" name="selectType" value="1">
          Transfer
        </label>
      </div>
    </div>
    <div class="field">
      <label class="label">Tags</label>
      <div class="field" id="tagsList"></div>
      <div class="field">
        <p class="control is-expanded">
          <input class="input" type="text" id="addTag" placeholder="Enter a tag">
        </p>
        <div id="tagSuggestions" class="dropdown">
          <div class="dropdown-menu" role="menu">
            <div class="dropdown-content"></div>
          </div>
        </div>
      </div>
      <p class="help">Press Enter or the comma character to add the tag</p>
    </div>
    <div id="components" class="field"></div>
    <div class="field">
      <div class="field">
        <p class="control">
          <button id="addComponent" type="button" class="button is-primary is-outlined">Add component</button>
        </p>
      </div>
    </div>
    <div class="field">
      <p class="control">
        <button type="submit" class="button is-primary">Save</button>
      </p>
    </div>
    <div class="field">
      <div id="saveResult" class="notification  animate__animated animate__flipInX" role="alert" hidden></div>
    </div>
    <div class="field">
      <p class="control">
        <button id="deleteButton" class="button is-danger">Delete</button>
      </p>
    </div>
    <div class="field">
      <div id="deleteResult" class="notification  animate__animated animate__flipInX" role="alert" hidden></div>
    </div>
  </form>
</div>
<script type="text/javascript" src="static/extras.js"></script>
{{ if .Form.uuid }}
<script>
  var transactionUUID = '{{ index .Form "uuid" 0 }}';
</script>
{{ end }}
<script>
  var action = '{{ index .Form "action" 0 }}';
</script>
<script>
document.addEventListener('DOMContentLoaded', () => {
  var getCurrentDate = function() {
    let currentDate = new Date();
    let month = currentDate.getMonth()+1;
    let date = currentDate.getDate();
    return "" + currentDate.getFullYear() + "-" + (month < 10 ? "0"+month : month) + "-" + (date < 10 ? "0"+date : date);
  }
  var transaction = {Description: "", Type: 0, Date: getCurrentDate(), Tags: [], Components: []};
  var accounts = null;
  var componentsCounter = 0;
  var autocompleteTags = null;

  var loadAlerts = document.getElementById("loadAlerts");
  var loadFailed = false;

  var description = document.querySelector('input[id="editDescription"]');
  var date = document.querySelector('input[id="editDate"]');
  var submit = document.querySelector('button[type="submit"]');
  var deleteButton = document.querySelector('button[id="deleteButton"]');
  
	var tagsInput = document.querySelector('input[id="addTag"]');
	var tagsDropdown = document.getElementById("tagSuggestions");
  var tagsList = document.getElementById("tagsList");
  
  var transactionForm = document.getElementById("transactionForm");
  var componentsTarget = document.getElementById("components");

  var saveResult = document.getElementById("saveResult");
  var deleteResult = document.getElementById("deleteResult");

  // Init tags input components
  var suggestTags = function(currentInput) {
    if (autocompleteTags === null) return [];
    return autocompleteTags.filter(function(tag){
			return currentInput === "" || tag.toLowerCase().startsWith(currentInput);
		});
  }
  var tagsInputComponent = initTagsInput(tagsInput, tagsDropdown, tagsList, suggestTags);

  var lockForm = function(lock) {
    transactionForm.querySelectorAll("input,select,button").forEach(function (control) { control.disabled = lock });
  };

  var updateCurrencyLabel = function(componentRow) {
    var accountUUID = componentRow.querySelector("select").value;
    var currency = accountUUID ? accounts[accountUUID].Currency : "";
    componentRow.querySelector("a.button.is-static").textContent = currency;
  };

  var showResultAlert = function(alertDiv, isSuccessful, msg){
    alertDiv.hidden = false;
    alertDiv.textContent = msg;
    if (isSuccessful) {
      alertDiv.classList.add("is-success");
      alertDiv.classList.remove("is-danger");
    } else {
      alertDiv.classList.remove("is-success");
      alertDiv.classList.add("is-danger");
    }
  };

  var addComponent = function(component) {
    var index = componentsCounter++;
    
    var componentFieldDiv = document.createElement("div");
    componentsTarget.append(componentFieldDiv);
    componentFieldDiv.setAttribute("class", "field animate__animated animate__fadeIn");
    componentFieldBody = document.createElement("div");
    componentFieldDiv.append(componentFieldBody);
    componentFieldBody.setAttribute("class", "field-body");
    
    // Account selector field
    var componentField = document.createElement("div");
    componentFieldBody.append(componentField);
    componentField.setAttribute("class", "field");
    var componentFieldLabel = document.createElement("label");
    componentField.append(componentFieldLabel);
    componentFieldLabel.setAttribute("class", "label");
    componentFieldLabel.textContent = "Account";

    var componentParent = document.createElement("div");
    componentField.append(componentParent);
    componentParent.setAttribute("class", "control is-expanded");
    var newComponentParent = document.createElement("div");
    componentParent.append(newComponentParent);
    componentParent = newComponentParent;
    newComponentParent.setAttribute("class", "select is-fullwidth");
    var accountSelect = document.createElement("select");
    componentParent.append(accountSelect);
    accountSelect.textContent = "Account";
    accountSelect.required = true;
    var option = document.createElement("option");
    accountSelect.append(option);

    for (var i in accounts) {
      var account = accounts[i];
      if (!account.ShowInList) continue;
      var option = document.createElement("option");
      option.value = account.UUID;
      option.textContent = account.Name;
      if (component.AccountUUID === account.UUID)
        option.selected = true;
      accountSelect.append(option);
    }

    var createAccountChangedHandler = function(accountSelect, componentFieldDiv){
      accountSelect.addEventListener("change", function() {
        updateCurrencyLabel(componentFieldDiv);
      });
    };
    createAccountChangedHandler(accountSelect, componentFieldDiv);

    // Amount field
    componentField = document.createElement("div");
    componentFieldBody.append(componentField);
    componentField.setAttribute("class", "field");
    componentFieldLabel = document.createElement("label");
    componentField.append(componentFieldLabel);
    componentFieldLabel.setAttribute("class", "label");
    componentFieldLabel.textContent = "Amount";

    componentParent = document.createElement("div");
    componentField.append(componentParent);
    componentParent.setAttribute("class", "field has-addons");
    newComponentParent = document.createElement("p");
    componentParent.append(newComponentParent);
    componentParent = newComponentParent;
    componentParent.setAttribute("class", "control is-expanded");
    var amountInput = document.createElement("input");
    componentParent.append(amountInput);
    amountInput.setAttribute("class", "input has-text-right");
    amountInput.setAttribute("placeholder", "Amount");
    amountInput.type = "number";
    amountInput.required = true;
    amountInput.step = 0.01;
    amountInput.value = (component.Amount/100).toFixed(2);
    componentParent.parentElement.insertAdjacentHTML("beforeend", '<p class="control"><a class="button is-static"></a></p>');
    
    // Delete button
    componentParent = document.createElement("div");
    componentFieldBody.append(componentParent);
    componentParent.setAttribute("class", "is-align-self-flex-end");
    var deleteComponentButton = document.createElement("button");
    componentParent.append(deleteComponentButton);
    deleteComponentButton.setAttribute("class", "button is-danger is-outlined");
    deleteComponentButton.textContent = "Delete";
    deleteComponentButton.type = "button";
    var createDeleteButtonHandler = function(deleteButton, componentFieldDiv){
      deleteButton.addEventListener("click", (event) => {
        event.preventDefault();
        componentFieldDiv.remove();
      });
    };
    createDeleteButtonHandler(deleteComponentButton, componentFieldDiv);

    updateCurrencyLabel(componentFieldDiv);
  }

  var updateIfReady = function() {
    if (transaction === null || accounts === null || autocompleteTags === null) return;
    description.value = transaction.Description;
    document.querySelector('input[name=selectType][value="' + transaction.Type +'"]').checked = true;
    if (transaction.Tags !== null && transaction.Tags !== undefined)
      transaction.Tags.forEach(tagsInputComponent.addTag);
    date.value = transaction.Date;
    lockForm(false);

    removeChildren(componentsTarget);
    for (var i in transaction.Components) {
      var component = transaction.Components[i];
      addComponent(component);
    }
  }

  var loadFailedAlert = function(msg) {
    removeChildren(transactionForm);
    var alertDiv = document.createElement("div");
    alertDiv.setAttribute("class", "notification is-danger animate__animated animate__flipInX")
    alertDiv.setAttribute("role", "alert");
    alertDiv.textContent = msg;
    loadAlerts.append(alertDiv);
  }

  //Add component button
  document.getElementById("addComponent").addEventListener("click", function(e){
    event.preventDefault();
    addComponent({});
  });

  // Submit handler
  transactionForm.addEventListener("submit", function(event) {
    event.preventDefault();
    lockForm(true);
    saveResult.hidden = true;
    submit.classList.add("is-loading");
    transaction.Description = description.value;
    transaction.Type = parseInt(transactionForm.querySelector('input[name=selectType]:checked').value);
    transaction.Tags = tagsInputComponent.getTags();
    transaction.Date = date.value;
    transaction.Components = [];
    transactionForm.querySelectorAll("#components>div").forEach(function(componentFieldDiv){
      var accountUUID = componentFieldDiv.querySelector("select").value;
      var amount = Math.round(parseFloat(componentFieldDiv.querySelector("input").value) * 100);
      transaction.Components.push({AccountUUID: accountUUID, Amount: amount});
    });
    var uuid = transaction.UUID || "new";
    reqPostJSON("api/transaction/" + uuid, transaction, function() {
      window.location.href = "transactions";
      showResultAlert(saveResult, true, "Saved successfully");
      submit.classList.remove("is-loading");
    }, function(data){
      showResultAlert(saveResult, false, "Save failed");
      lockForm(false);
      submit.classList.remove("is-loading");
    });
  });

  // Delete handler
  deleteButton.addEventListener("click", function(event) {
    event.preventDefault();
    lockForm(true);
    deleteResult.hidden = true;
    deleteButton.classList.add("is-loading");
    reqDelete("api/transaction/" + transactionUUID, function() {
      window.location.href = "transactions";
      showResultAlert(deleteResult, true, "Deleted successfully");
      deleteButton.classList.remove("is-loading");
    }, function(data){
      showResultAlert(deleteResult, false, "Delete failed");
      lockForm(false);
      deleteButton.classList.remove("is-loading");
    });
  });
  if (action !== "edit")
    deleteButton.remove();

  // Load transaction details
  var loadTransaction = function() {
    lockForm(true);
    if (action === "edit" || action === "duplicate") {
      transaction = null;
      reqGet("api/transaction/" + transactionUUID, function(data) {
        transaction = JSON.parse(data);
        if(action === "duplicate"){
          delete transaction.UUID;
          transaction.Date = getCurrentDate();
        }
        updateIfReady();
      }, function() {
        loadFailedAlert("Failed to load transaction.");
      });
    }
    reqGet("api/accounts", function(data) {
      accounts = {};
      JSON.parse(data).forEach(function (account) { accounts[account.UUID] = account; });
      updateIfReady();
    }, function() {
      loadFailedAlert("Failed to load accounts.");
    });
    reqGet("api/tags", function(data) {
      autocompleteTags = JSON.parse(data);
      updateIfReady();
    }, function() {
      loadFailedAlert("Failed to load tags.");
    });
  }
  loadTransaction();
});
</script>
{{ end }}