{{ define "content" }}
<p class="title">Transactions</p>
<div class="container is-widescreen">
  <div class="content" id="loadAlerts"></div>
  <div class="content" id="transactionControls">
    <button class="button is-info is-outlined" type="button" id="filterButton" aria-expanded="false" aria-controls="transactionsFilterComponents" disabled>Advanced</button>
    <a class="button is-primary is-pulled-right" href="transactioneditor?action=new" role="button">Add transaction</a>
  </div>
  <div class="content animate__animated" id="transactionsFilterComponents" hidden>
    <div class="card">
      <div class="card-content">
        <div class="content">
          <form id="filterForm" accept-charset="utf-8" autocomplete="off">
            <div class="columns">
              <div class="column is-half">
                <div class="field">
                  <label class="label" for="inputFilterDescription">Transaction description</label>
                  <div class="control">
                    <input type="text" class="input" id="inputFilterDescription" placeholder="Enter description to filter">
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label" for="inputFilterFrom">From date</label>
                  <div class="control">
                    <input type="date" class="input" id="inputFilterFrom" placeholder="From date">
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label" for="inputFilterTo">To date</label>
                  <div class="control">
                    <input type="date" class="input" id="inputFilterTo" placeholder="To date">
                  </div>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <div class="field">
                  <label class="label" for="filterTransactionTags">Tags</label>
                  <div class="control">
                    <div class="select is-multiple is-fullwidth">
                      <select id="filterTransactionTags" multiple></select>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <label class="checkbox">
                      <input type="checkbox" id="selectAllTags"> Select/Deselect all
                    </label>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label" for="filterTransactionAccounts">Accounts</label>
                  <div class="control">
                    <div class="select is-multiple is-fullwidth">
                      <select id="filterTransactionAccounts" multiple></select>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <label class="checkbox">
                      <input type="checkbox" id="selectAllAccounts"> Select/Deselect all
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="content">
              <div class="field">
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox" id="filterIncludeExpenseIncome"> Include expense/income transactions
                  </label>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox" id="filterIncludeTransfer"> Include transfer transactions
                  </label>
                </div>
              </div>
              <div class="field is-grouped">
                <p class="control">
                  <button type="submit" class="button is-primary" id="applyButton">Apply filter</button>
                </p>
                <p class="control">
                  <button class="button is-info is-outlined" id="createReportButton">Create report</button>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="content transactions-table-container">
    <div class="is-overlay transactions-loading-shade" hidden>
      <div class="transactions-loading-spinner">
        <div class="columns is-centered">
          <div class="column is-half">
            <progress class="progress is-primary" max="50"></progress>
          </div>
        </div>
      </div>
    </div>
    <div id="transactionsTable">
      <table class="table is-striped">
        <thead>
          <tr>
            <th>Description</th>
            <th>Date</th>
            <th>Accounts</th>
            <th><div class="has-text-right">Amount</div></th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
  <div id="pagination">
    <nav class="pagination is-centered" role="navigation" aria-label="transactions pagination">
      <button class="button pagination-previous">Previous</button>
      <button class="button pagination-next">Next page</button>
      <ul class="pagination-list"></ul>
    </nav>
  </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', () => {
  var isExpenseIncome = function(transaction) { return transaction.Type === 0; }
  var isTransfer = function(transaction) { return transaction.Type === 1; }
  var itemsPerPage = 100;

  var table = document.querySelector("#transactionsTable");
  var transactionsTarget = document.querySelector("tbody");
  var paginationTarget = document.querySelector("#pagination");
  var previousPageButton = document.querySelector(".pagination-previous");
  var nextPageButton = document.querySelector(".pagination-next");
  var transactionsLoadingShade = document.querySelector(".transactions-loading-shade");
  var filterButton = document.getElementById("filterButton");
  var filterForm = document.getElementById("filterForm");
  var transactionsFilterComponents = document.getElementById("transactionsFilterComponents");

  var loadAlerts = document.querySelector('#loadAlerts');
  var loadFailed = false;

  var currentPage = null;
  var count = null;
  var accounts = null;
  var filterParams = {};
  var addProgress = function() {
    var progressRow = document.createElement("tr");
    var progressCell = document.createElement("td")
    progressRow.append(progressCell);
    progressCell.setAttribute("colspan", 4);
    progressCell.insertAdjacentHTML("afterbegin", '<progress class="progress is-primary" max="100"></progress>');
    var target = document.querySelector("tbody");
    removeChildren(target);
    target.append(progressRow);
  };
  var removeInitialProgressBar = function() {
    var progress = document.querySelector("tr td progress");
    if (progress !== null) {
      progress.parentElement.parentElement.remove();
    }
  };
  
  var loadFailedAlert = function(msg) {
    removeChildren(document.querySelector("#transactionControls"));
    removeChildren(document.querySelector("#transactionsFilterComponents"));
    removeChildren(document.querySelector(".transactions-table-container"));
    paginationTarget.hidden = true;
    var alertDiv = document.createElement("div");
    alertDiv.setAttribute("class", "notification is-danger animate__animated animate__flipInX")
    alertDiv.setAttribute("role", "alert");
    alertDiv.textContent = msg;
    loadAlerts.append(alertDiv);
  };

  var postHiddenForm = function(destination, values) {
    var hiddenForm = document.createElement("form");
    hiddenForm.id = "hiddenForm";
    hiddenForm.method = "post";
    hiddenForm.action = destination;
    hiddenForm.hidden = true;
    for (var name in values) {
      var hiddenInput = document.createElement("input");
      hiddenInput.name = name;
      hiddenInput.value = values[name];
      hiddenInput.type = "hidden";
      hiddenForm.append(hiddenInput);
    }
    document.body.append(hiddenForm);
    hiddenForm.submit();
    hiddenForm.remove();
  }
  var updateTransactions = null;
  var setPage = function(page) {
    currentPage = page;
    var pagesCount = Math.ceil(count / itemsPerPage);
    previousPageButton.disabled = page === 0;
    nextPageButton.disabled = page === (pagesCount-1);

    var pageLinks = paginationTarget.querySelector(".pagination-list");
    removeChildren(pageLinks);
    var createPagelinkClickHandler = function(pageLink, i){
      pageLink.addEventListener("click", (event) => {
        event.preventDefault();
        setPage(i);
      });
    };
    for (var i=0;i<pagesCount;i++){
      if (i === 0 || i === pagesCount-1 || (i >= (currentPage-2) && i <= (currentPage+2))) {
        var pageLinkItem = document.createElement("li");
        var pageLink = document.createElement("button");
        pageLink.setAttribute("class", "button pagination-link")
        if (i === page) pageLink.classList.add("is-current");
        pageLink.textContent = i+1;
        createPagelinkClickHandler(pageLink, i);
        pageLinkItem.append(pageLink);
        pageLinks.append(pageLinkItem);
      } else if (i === 1 || i === pagesCount-2) {
        pageLinks.insertAdjacentHTML("beforeend", '<li><span class="pagination-ellipsis">&hellip;</span></li>');
      }
    }
    
    var offset = Math.trunc(page*itemsPerPage);
    transactionsLoadingShade.hidden = false;
    var params = {offset: offset, limit: itemsPerPage};
    for (var p in filterParams)
      params[p] = filterParams[p];  
    reqPostForm("api/transactions/getpage", params, function(data) {
      var transactions = JSON.parse(data);
      transactionsLoadingShade.hidden = true;
      updateTransactions(transactions);
    }, function() {
      loadFailedAlert("Failed to load transactions page.")
    });
  };
  var updateTransactions = function(transactions) {
    if (transactions === null || accounts === null) return;
    removeChildren(transactionsTarget);
    for (var tr in transactions) {
      var transaction = transactions[tr];

      var descriptionTagsColumn = document.createElement("div");
      var descriptionTagsColumnText = document.createElement("div");
      var duplicateButton = document.createElement("a");
      descriptionTagsColumnText.append(duplicateButton);
      duplicateButton.setAttribute("class", "button is-small is-pulled-right");
      duplicateButton.setAttribute("href", "transactioneditor?action=duplicate&uuid=" + transaction.UUID);
      duplicateButton.textContent = "Duplicate";
      descriptionTagsColumn.append(descriptionTagsColumnText);
      var descriptionLink = document.createElement("a");
      descriptionTagsColumnText.append(descriptionLink)
      descriptionLink.setAttribute("href", "transactioneditor?action=edit&uuid=" + transaction.UUID);
      descriptionLink.textContent = transaction.Description;

      var tagsDiv = document.createElement("div");
      tagsDiv.setAttribute("class", "tags")
      for (i in transaction.Tags) {
        var tagBadge = document.createElement("span");
        tagsDiv.append(tagBadge);
        tagBadge.setAttribute("class", "tag");
        tagBadge.textContent = transaction.Tags[i];
        tagsDiv.insertAdjacentText("beforeend", " ");
      }
      descriptionTagsColumn.append(tagsDiv);


      var accountsColumn = document.createElement("div");
      var amountsColumn = document.createElement("div");
      amountsColumn.setAttribute("class", "has-text-right");

      var incomeAccounts = [], expenseAccounts = [];
      var currencyAmounts = {};
      var amountOk = true;
      for (i in transaction.Components) {
        var component = transaction.Components[i];
        if (component.Amount >= 0 && !incomeAccounts.includes(component.AccountUUID))
          incomeAccounts.push(component.AccountUUID);
        if (component.Amount <= 0 && !expenseAccounts.includes(component.AccountUUID))
          expenseAccounts.push(component.AccountUUID);
        
        var currency = (accounts[component.AccountUUID] || {Currency:""}).Currency;
        currencyTotal = currencyAmounts[currency] || {negative: 0, positive: 0};
        if (component.Amount > 0 || isExpenseIncome(transaction))
          currencyTotal.positive += component.Amount;
        else if (component.Amount < 0)
          currencyTotal.negative -= component.Amount;
        currencyAmounts[currency] = currencyTotal;
      }
      var appendAccount = function (accountUUID){
        var accountNameDiv = document.createElement("div");
        accountNameDiv.textContent = (accounts[accountUUID] || {Name:""}).Name;
        accountsColumn.append(accountNameDiv);
      }
      var appendCurrencyAmounts = function (){
        for (currency in currencyAmounts) {
          var amountDiv = document.createElement("div");
          amountsColumn.append(amountDiv);
          if (isTransfer(transaction)) amountDiv.insertAdjacentHTML("afterbegin", "&sum;");
          var total = currencyAmounts[currency];
          var getAmount = function() {
            if (isExpenseIncome(transaction))
              return total.positive;
            if (isTransfer(transaction))
              return total.positive > total.negative ? total.positive : total.negative;
          }

          if (isTransfer(transaction) && Object.keys(currencyAmounts).length == 1 && total.positive !== total.negative)
            amountOk = false;

          amountDiv.insertAdjacentText("beforeend", (getAmount()/100).toFixed(2) + " " + currency);
        }
      }
      if (isExpenseIncome(transaction)) {
        var mergedAccounts = [];
        var appendUnique = function(accountUUID) { if (!mergedAccounts.includes(accountUUID)) mergedAccounts.push(accountUUID); };
        incomeAccounts.forEach(appendUnique);
        expenseAccounts.forEach(appendUnique);
        mergedAccounts.forEach(appendAccount);
        
        appendCurrencyAmounts();
      } else if (isTransfer(transaction)) {
        expenseAccounts.forEach(appendAccount);
        accountsColumn.insertAdjacentHTML("beforeend", "<div>&darr;</div>");
        incomeAccounts.forEach(appendAccount);
        
        appendCurrencyAmounts("&sum; ");
      }

      var transactionDate = new Date(transaction.Date);
      var localTransactionDate = new Date(transactionDate.getUTCFullYear(), transactionDate.getUTCMonth(), transactionDate.getUTCDate());

      var transactionRow = document.createElement("tr");
      var transactionCell = document.createElement("td");
      transactionCell.append(descriptionTagsColumn);
      transactionRow.append(transactionCell);
      transactionCell = document.createElement("td");
      transactionCell.textContent = localTransactionDate.toLocaleDateString();
      transactionRow.append(transactionCell);
      transactionCell = document.createElement("td");
      transactionCell.append(accountsColumn);
      transactionRow.append(transactionCell);
      var amountsCell = document.createElement("td");
      amountsCell.append(amountsColumn);
      transactionRow.append(amountsCell);
      if (!amountOk) {
        amountsCell.classList.add("has-background-danger");
        amountsCell.classList.add("has-text-white");
      }
      transactionsTarget.append(transactionRow);
    }
  }
  var updatePagination = function() {
    paginationTarget.hidden = count <= itemsPerPage;
    setPage(0);
  }
  previousPageButton.addEventListener("click", (event) => {
    event.stopPropagation();
    setPage(currentPage-1);
  });
  nextPageButton.addEventListener("click", (event) => {
    event.stopPropagation();
    setPage(currentPage+1);
  });
  
  var updateTransactionsForFilter = function(callback) {
    reqPostForm("api/transactions/getcount", filterParams, function(data){
      count = data;
      updatePagination();
      if (callback !== undefined) callback();
    }, function() {
      loadFailedAlert("Failed to load transactions count.")
      if (callback !== undefined) callback();
    });
  };

  var lockFilterForm = function() {
    filterForm.querySelectorAll("input,select,button").forEach(function(element){
      element.disabled = true;
    });
    filterForm.querySelectorAll("select").forEach(removeChildren);
    filterForm.querySelectorAll("input[type=text]").forEach(function(element){
      element.value = "";
    });
    filterForm.querySelector("#filterIncludeExpenseIncome").checked = true;
    filterForm.querySelector("#filterIncludeTransfer").checked = true;
  };
  var prepareFilterForm = function() {
    filterButton.classList.add("is-loading");
    lockFilterForm();
    var tagsSelectElement = filterForm.querySelector('#filterTransactionTags');
    var accountsSelectElement = filterForm.querySelector('#filterTransactionAccounts');
    for (var i in accounts) {
      var account = accounts[i];
      var accountItem = document.createElement("option");
      accountItem.value = account.UUID;
      accountItem.textContent = account.Name;
      accountItem.selected = true;
      accountsSelectElement.append(accountItem);
    }
    reqGet("api/tags", function(data) {
      filterForm.querySelectorAll("input,select,button").forEach(function(element){
        element.disabled = false;
      });
      filterButton.classList.remove("is-loading");
      var tags = JSON.parse(data);
      for (var i in tags) {
        var tag = tags[i];
        var tagItem = document.createElement("option");
        tagItem.value = tag;
        tagItem.textContent = tag;
        tagItem.selected = true;
        tagsSelectElement.append(tagItem);
      }
    },function() {
      loadFailedAlert("Failed to load tags.")
    });
    document.querySelector("#selectAllTags").checked = true;
    document.querySelector("#selectAllAccounts").checked = true;
  };

  var cleanupFilterForm = function() {
    lockFilterForm();
    filterParams = {};
    updateTransactionsForFilter();
  };
  var updateFilterForm = function() {
    if (accounts === null) return;
    document.getElementById("filterButton").disabled = false;
  };
  filterButton.addEventListener("click", (event) => {
    event.stopPropagation();
    if (filterButton.classList.contains("is-outlined")) {
      transactionsFilterComponents.hidden = false;
      filterButton.classList.remove("is-outlined");
      transactionsFilterComponents.classList.add("animate__fadeInDown");
      transactionsFilterComponents.classList.remove("animate__fadeOutDown");
      prepareFilterForm();
    } else {
      filterButton.classList.add("is-outlined");
      transactionsFilterComponents.classList.add("animate__fadeOutDown");
      transactionsFilterComponents.classList.remove("animate__fadeInDown");
      cleanupFilterForm();
    }
  });
  transactionsFilterComponents.addEventListener('animationend', () => {
    if (transactionsFilterComponents.classList.contains("animate__fadeOutDown")){
      transactionsFilterComponents.hidden = true;
      transactionsFilterComponents.classList.remove("animate__fadeOutDown");
    }
  });
  var getFilterFormValues = function() {
    var getSelectedOptions = function(options) {
      var values = [];
      for (var i = 0; i < options.length; ++i){
        values.push(options[i].value)
      }
      return values;
    };
    return {
      filterDescription: filterForm.querySelector('#inputFilterDescription').value,
      filterFrom: filterForm.querySelector('#inputFilterFrom').value,
      filterTo: filterForm.querySelector('#inputFilterTo').value,
      filterTags: getSelectedOptions(filterForm.querySelectorAll('#filterTransactionTags option:checked')).join(","),
      filterAccounts: getSelectedOptions(filterForm.querySelectorAll('#filterTransactionAccounts option:checked')).join(","),
      filterIncludeExpenseIncome: filterForm.querySelector('#filterIncludeExpenseIncome').checked,
      filterIncludeTransfer: filterForm.querySelector('#filterIncludeTransfer').checked
    }
  };
  filterForm.addEventListener("submit", function(event){
    event.preventDefault();
    var applyButton = document.getElementById("applyButton");
    applyButton.classList.add("is-loading");
    applyButton.disabled = true;
    filterParams = getFilterFormValues();
    updateTransactionsForFilter(function() {
      applyButton.disabled = false;
      applyButton.classList.remove("is-loading");
    });
  });

  document.getElementById("createReportButton").addEventListener("click", (event) => {
    event.preventDefault();
    var params = getFilterFormValues();
    postHiddenForm("report", params);
  });
  var toggleCheckAllItems = function(checkbox, select) {
    checkbox.addEventListener("change", function(event){
      event.preventDefault();
      select.querySelectorAll("option").forEach(function(item) {
        item.selected = checkbox.checked;
      });
    });
    select.addEventListener("change", function(event){
      event.preventDefault();
      var some = false;
      var all = true;
      select.querySelectorAll("option").forEach(function(item) {
        if (item.selected) some = true;
        else all = false;
      });
      
      if (all) {
        checkbox.checked = true;
        checkbox.indeterminate = false;
      } else if (some) {
        checkbox.indeterminate = true;
      } else {
        checkbox.checked = false;
        checkbox.indeterminate = false;
      }
    });
  };
  toggleCheckAllItems(document.getElementById("selectAllTags"), document.getElementById("filterTransactionTags"));
  toggleCheckAllItems(document.getElementById("selectAllAccounts"), document.getElementById("filterTransactionAccounts"));

  var loadTransactions = function() {
    addProgress();
    var updateIfReady = function() {
      if (accounts === null || count === null) return;
      removeInitialProgressBar();
      updatePagination();
      updateFilterForm();
    }
    reqPostForm("api/transactions/getcount", null, function(data) {
      count = JSON.parse(data);
      updateIfReady();
    }, function() {
      loadFailedAlert("Failed to load transactions count.")
    });
    reqGet("api/accounts", function(data) {
      data = JSON.parse(data);
      accounts = {};
      data.forEach(function (account) { 
        if (account.ShowInList) accounts[account.UUID] = account;
      });
      updateIfReady();
    }, function() {
      loadFailedAlert("Failed to load accounts.")
    });
  }
  loadTransactions();
});
</script>
{{ end }}