{{ define "content" }}
<p class="title">Accounts</p>
<div class="container is-widescreen">
  <div class="content">
    <p>
      <label class="checkbox">
        <input type="checkbox" id="showAllAccounts">
        Show all accounts
      </label>
    </p>
    <p>
      <a class="button" href="accounteditor?action=new" role="button">Add account</a>
    </p>
    <div>
      <table class="table is-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th><div class="has-text-right">Balance</div></th>
            <th>Currency</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', () => {
  var accounts = [];
  var showAllAccounts = false;
  var addProgress = function() {
    var progressRow = document.createElement("tr");
    var progressCell = document.createElement("td")
    progressRow.append(progressCell);
    progressCell.setAttribute("colspan", 4);
    progressCell.insertAdjacentHTML("afterbegin", '<progress class="progress is-primary" max="100"></progress>');
    var target = document.querySelector("tbody");
    removeChildren(target);
    target.append(progressRow);
  }
  var updateVisibility = function() {
    var progressBar = document.querySelector("progress");
    if (progressBar !== null)
      progressBar.parentElement.parentElement.remove();
  }
  var updateAccounts = function() {
    var accountsTarget = document.querySelector("tbody");
    removeChildren(accountsTarget);
    for (i in accounts) {
      var account = accounts[i];
      if (!showAllAccounts && !account.ShowInList)
        continue
      var accountRow = document.createElement("tr");
      var accountCell = document.createElement("td");
      if (account.TotalAccount) {
        accountCell.textContent = account.Name;
        accountRow.append(accountCell);
      } else {
        var accountNameLink = document.createElement("a");
        accountNameLink.setAttribute("href", "accounteditor?action=edit&id=" + account.ID);
        accountNameLink.textContent = account.Name;
        accountCell.append(accountNameLink);
        accountRow.append(accountCell);
      }
      accountCell = document.createElement("td");
      var balanceDiv = document.createElement("div")
      balanceDiv.setAttribute("class", "has-text-right");
      balanceDiv.textContent = (account.Balance/100).toFixed(2)
      accountCell.append(balanceDiv);
      accountRow.append(accountCell);
      accountCell = document.createElement("td");
      accountCell.textContent = account.Currency;
      accountRow.append(accountCell);
      if (account.TotalAccount) 
        accountRow.classList.add("has-background-primary-light");
      accountsTarget.append(accountRow);
    }
  }
  var createTotalAccounts = function() {
    var accountTotals = {};
    for (i in accounts) {
      var account = accounts[i];
      if (account.IncludeInTotal)
        accountTotals[account.Currency] = (accountTotals[account.Currency] || 0) + account.Balance;
    }
    for(var currency in accountTotals)
      accounts.push({Name: "Totals for "+ currency, Currency: currency, Balance: accountTotals[currency], ShowInList: true, TotalAccount: true});
  };
  document.querySelector("#showAllAccounts").addEventListener('change', (event) => {
    showAllAccounts = event.target.checked;
    updateAccounts();
  });
  var loadAccounts = function() {
    addProgress();
    reqGet("api/accounts", function(data) {
      accounts = JSON.parse(data);
      createTotalAccounts();
      updateAccounts();
      updateVisibility();
    }, function() {
      var alertTarget = document.querySelector("table").parentElement;
      removeChildren(alertTarget);
      alertTarget.insertAdjacentHTML("afterbegin", '<div class="notification is-danger animate__animated animate__flipInX" role="alert">Failed to fetch accounts.</div>')
    });
  }
  loadAccounts();
});
</script>
{{ end }}