{{ define "content" }}
<h2>Accounts</h2>
<div class="pb-3">
  <div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="showAllAccounts">
    <label class="custom-control-label" for="showAllAccounts">Show all accounts</label>
  </div>
</div>
<div class="pb-3">
  <a class="btn btn-outline-secondary" href="accounteditor?action=new" role="button">Add account</a>
</div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col"><div class="text-right">Balance</div></th>
        <th scope="col">Currency</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<script>
$(document).ready(function() {
  var accounts = [];
  var showAllAccounts = false;
  var addProgress = function() {
    var progressRow = $('<tr></tr>')
      .append($('<td class="col-12"></td>')
        .append($('<div class="progress"><div class="progress-bar progress-bar-striped progress-bar-animated w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div></div>'))
      );
    var target = $("tbody");
    target.empty().append(progressRow);
  }
  var updateVisibility = function() {
    var progress = $(".progress");
    if (!progress.prop("hidden")) {
      progress.slideUp(function() { progress.parent().parent().remove(); });
    }
    var table = $(".table-responsive");
    if (table.prop("hidden"))
      table.hide().prop("hidden", false).slideDown();
  }
  var updateAccounts = function() {
    var accountsTarget = $("tbody");
    accountsTarget.empty();
    for (i in accounts) {
      var account = accounts[i];
      if (!showAllAccounts && !account.ShowInList)
        continue
      var editColumn = $('<a class="btn btn-outline-secondary" href="accounteditor?action=edit&id=' + account.ID + '" role="button">Edit</a>');
      var accountRow = $('<tr></tr>')
        .append($('<td></td>').text(account.Name))
        .append($('<td></td>')
          .append($('<div class="text-right"></div>').text((account.Balance/100).toFixed(2)))
        )
        .append($('<td></td>').text(account.Currency))
        .append($('<td></td>').append(editColumn));
      if (account.TotalAccount) 
        accountRow.addClass("table-secondary");
      accountsTarget.append(accountRow);
    }
  }
  var createTotalAccounts = function() {
    var accountTotals = {};
    for (i in accounts) {
      var account = accounts[i];
      if (account.IncludeInTotal)
        accountTotals[account.Currency] = (accountTotals[account.Currency] || 0) + account.Balance;
    }
    for(var currency in accountTotals)
      accounts.push({Name: "Totals for "+ currency, Currency: currency, Balance: accountTotals[currency], ShowInList: true, TotalAccount: true});
  }
  $("#showAllAccounts").change(function() {
    showAllAccounts = this.checked;
    updateAccounts();
  });
  var loadAccounts = function() {
    addProgress();
    $.getJSON("api/accounts").done(function(data) {
      accounts = data;
      createTotalAccounts();
      updateAccounts();
      updateVisibility();
    });
  }
  loadAccounts();
});
</script>
{{ end }}