{{ define "content" }}
<h2>Transactions</h2>
<div class="pb-3">
  <button class="btn btn-outline-primary" data-toggle="collapse" type="button" id="filterButton" data-target="#transactionsFilterComponents" aria-expanded="false" aria-controls="transactionsFilterComponents" disabled>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
    Filter
  </button>
  <a class="btn btn-secondary float-right" href="transactioneditor?new" role="button">Add transaction</a>
</div>
<div id="transactionsFilterComponents" class="collapse pb-3 container">
  <div class="card">
    <div class="card-body">
      <form id="filterForm" accept-charset="utf-8" autocomplete="off">
        <div class="form-row">
          <div class="form-group col-6">
            <label for="inputFilterDescription">Transaction description</label>
            <input type="text" class="form-control" id="inputFilterDescription" placeholder="Enter description to filter">
          </div>
          <div class="form-group col-3">
            <label for="inputFilterFrom">From date</label>
            <input type="date" class="form-control" id="inputFilterFrom" placeholder="From date">
          </div>
          <div class="form-group col-3">
            <label for="inputFilterTo">To date</label>
            <input type="date" class="form-control" id="inputFilterTo" placeholder="To date">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label for="filterTransactionTags">Tags</label>
            <select class="custom-select" id="filterTransactionTags" multiple>
              <option value="1" selected>One</option>
              <option value="2" selected>Two</option>
              <option value="3" selected>Three</option>
            </select>
          </div>
          <div class="form-group col">
            <label for="filterTransactionAccounts">Accounts</label>
            <select class="custom-select" id="filterTransactionAccounts" multiple>
              <option value="1" selected>One</option>
              <option value="2" selected>Two</option>
              <option value="3" selected>Three</option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" id="applyButton">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
          Apply
        </a>
      </form>
    </div>
  </div>
</div>
<div class="transactions-table-container">
  <div class="transactions-loading-shade" hidden>
    <div class="transactions-loading-spinner">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading transactions...</span>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Description</th>
          <th scope="col">Date</th>
          <th scope="col">Accounts</th>
          <th scope="col"><div class="text-right">Amount</div></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div id="pagination"></div>
</div>
<script>
$(document).ready(function() {
  var isExpenseIncome = function(transaction) { return transaction.Type === 0; }
  var isTransfer = function(transaction) { return transaction.Type === 1; }
  var itemsPerPage = 100;

  var table = $(".table-responsive");
  var progress = $(".progress");
  var transactionsTarget = $("tbody");
  var paginationTarget = $("#pagination");
  var transactionsLoadingShade = $(".transactions-loading-shade");

  var setPage = null;

  var currentPage = null;
  var count = null;
  var accounts = null;
  var filterParams = {};
  var addProgress = function() {
    var progressRow = $('<tr></tr>')
      .append($('<td colspan="5"></td>')
        .append($('<div class="progress"><div class="progress-bar progress-bar-striped progress-bar-animated w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div></div>'))
      );
    var target = $("tbody");
    target.empty().append(progressRow);
  }
  var updateVisibility = function() {
    if (!progress.prop("hidden")) {
      progress.slideUp(function() { progress.parent().parent().remove(); });
    }
    if (table.prop("hidden"))
      table.hide().prop("hidden", false).slideDown();
  }
  var updateTransactions = function(transactions) {
    if (transactions === null || accounts === null) return;
    transactionsTarget.empty();
    for (var tr in transactions) {
      var transaction = transactions[tr];

      var descriptionTagsColumn = $('<div></div>')
        .append($('<div></div>').text(transaction.Description));
      var tagsDiv = $('<div></div>')
      for (i in transaction.Tags)
        descriptionTagsColumn.append($('<span class="badge badge-light"></span>').text(transaction.Tags[i])).append(" ");
      descriptionTagsColumn.append(tagsDiv);

      var accountsColumn = $('<div></div>');
      var amountsColumn = $('<div class="text-right"></div>');
      var editButton = $('<a class="dropdown-item" href="transactioneditor?edit&id='+ transaction.ID +'">Edit</a>');
      var duplicateButton = $('<a class="dropdown-item" href="transactioneditor?duplicate&id='+ transaction.ID +'">Duplicate</a>');
      var actionsColumn = $('<div class="dropdown text-right">' + 
        '<button class="btn btn-outline-secondary btn-small dropdown-toggle" type="button" id="dropdownMenuButton' + transaction.ID + '" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tools</button>' +
        '</div>');
      actionsColumn.append($('<div class="dropdown-menu" aria-labelledby="dropdownMenuButton' + transaction.ID + '">')
        .append(editButton)
        .append(duplicateButton)
      );
      var incomeAccounts = [], expenseAccounts = [];
      var currencyAmounts = {};
      var amountOk = true;
      for (i in transaction.Components) {
        var component = transaction.Components[i];
        if (component.Amount >= 0 && !incomeAccounts.includes(component.AccountID))
          incomeAccounts.push(component.AccountID);
        if (component.Amount <= 0 && !expenseAccounts.includes(component.AccountID))
          expenseAccounts.push(component.AccountID);
        
        var currency = (accounts[component.AccountID] || {Currency:""}).Currency;
        currencyTotal = currencyAmounts[currency] || {negative: 0, positive: 0};
        if (component.Amount > 0 || isExpenseIncome(transaction))
          currencyTotal.positive += component.Amount;
        else if (component.Amount < 0)
          currencyTotal.negative -= component.Amount;
        currencyAmounts[currency] = currencyTotal;
      }
      var appendAccount = function (accountID){
        accountsColumn.append($('<div></div>').text((accounts[component.AccountID] || {Name:""}).Name));
      }
      var appendCurrencyAmounts = function (){
        var prefix = isTransfer(transaction) ? "&sum;" : "";
        for (currency in currencyAmounts) {
          var total = currencyAmounts[currency];
          var getAmount = function() {
            if (isExpenseIncome(transaction))
              return total.positive;
            if (isTransfer(transaction))
              return total.positive > total.negative ? total.positive : total.negative;
          }

          if (isTransfer(transaction) && Object.keys(currencyAmounts).length == 1 && total.positive !== total.negative)
            amountOk = false;

          amountsColumn.append($('<div></div>').html(prefix + (getAmount()/100).toFixed(2) +" " + currency));
        }
      }
      if (isExpenseIncome(transaction)) {
        var mergedAccounts = [];
        var appendUnique = function(accountID) { if (!mergedAccounts.includes(accountID)) mergedAccounts.push(accountID); };
        incomeAccounts.forEach(appendUnique);
        expenseAccounts.forEach(appendUnique);
        mergedAccounts.forEach(appendAccount);
        
        appendCurrencyAmounts();
      } else if (isTransfer(transaction)) {
        incomeAccounts.forEach(appendAccount);
        accountsColumn.append($('<div></div>').html('&darr;'));
        expenseAccounts.forEach(appendAccount);
        
        appendCurrencyAmounts("&sum; ");
      }

      var transactionRow = $('<tr></tr>')
        .append($('<td></td>').append(descriptionTagsColumn))
        .append($('<td></td>').append(new Date(transaction.Date).toLocaleDateString()))
        .append($('<td></td>').append(accountsColumn))
        .append($('<td></td>').append(amountsColumn))
        .append($('<td></td>').append(actionsColumn));
      if (!amountOk) amountsColumn.parent().addClass("bg-danger").addClass("text-white");
      transactionsTarget.append(transactionRow);
    }
  }
  var updatePagination = function() {
    paginationTarget.empty();

    var paginationElement = $('<ul class="pagination justify-content-center"></ul>');

    var previousPageButton = $('<a class="page-link" href="#pagePrevious"><span aria-hidden="true">&laquo;</span></a>');
    paginationElement.append($('<li class="page-item"></li>').append(previousPageButton));

    var pageSelectionButton = $('<button class="page-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-flip="false"></button>');
    var pageSelectionMenu = $('<div class="dropdown-menu"></div>');

    paginationElement.append($('<li class="page-item"></li>')
      .append($('<div class="btn-group dropup"></div>')
        .append(pageSelectionButton).append(pageSelectionMenu))
    );

    var nextPageButton = $('<a class="page-link" href="#pageNext"><span aria-hidden="true">&raquo;</span></a>');
    paginationElement.append($('<li class="page-item"></li>').append(nextPageButton));

    var pagesCount = Math.ceil(count / itemsPerPage);
    setPage = function(page) {
      currentPage = page;
      previousPageButton.parent().toggleClass("disabled", page === 0);
      nextPageButton.parent().toggleClass("disabled", page === (pagesCount-1));
      pageSelectionButton.text("Page " + (page + 1) + " of " + pagesCount);
      $('a.dropdown-item').removeClass("active");
      $('a.dropdown-item[data-page="' + page + '"]').addClass("active");
      
      var offset = Math.trunc(page*itemsPerPage);
      transactionsLoadingShade.prop("hidden", false);
      var params = {offset: offset, limit: itemsPerPage};
      for (var p in filterParams)
        params[p] = filterParams[p];  
      $.post("api/transactions/getpage", params, null, "json").done(function(data) {
        var transactions = data;
        transactionsLoadingShade.prop("hidden", true);
        updateTransactions(transactions);
      });
    }

    for (var i=0;i<pagesCount;i++){
      var pageButton = $('<a class="dropdown-item" href="#page' + (i+1) + '" data-page="' + i + '">' + (i+1) + '</a>');
      pageSelectionMenu.append(pageButton);
    }

    previousPageButton.on('click', function(e){
      e.preventDefault();
      setPage(currentPage-1);
    });
    nextPageButton.on('click', function(e){
      e.preventDefault();
      setPage(currentPage+1);
    });

    if (pagesCount > 0)
      paginationTarget.append($('<nav aria-label="Transactions pagination"></nav>').append(paginationElement));
    setPage(0);
  }
  
  $(document).on('click', 'a.dropdown-item[data-page]', function(e) {
    e.preventDefault();
    var pageButton = jQuery(this);
    var page = parseInt(pageButton.attr('data-page'));
    setPage(page);
  });

  var updateTransactionsForFilter = function() {
    return $.post("api/transactions/getcount", filterParams).done(function(data) {
      count = data;
      updatePagination();
    });
  }

  $('#transactionsFilterComponents').on('show.bs.collapse', function(){
    var form = $(this).find("form");
    var filterButton = $("#filterButton");
    var filterButtonSpinner = filterButton.find('span[role="status"]');
    filterButtonSpinner.prop("hidden", false);
    filterButton.addClass("active");
    form.find("input,select,button").prop("disabled", true);
    form.find("select").empty();

    var tagsSelectElement = form.find('#filterTransactionTags');
    var accountsSelectElement = form.find('#filterTransactionAccounts');
    for (var i in accounts) {
      var account = accounts[i];
      var accountItem = $('<option value="' + account.ID + '" selected></option>').text(account.Name);
      accountsSelectElement.append(accountItem);
    }
    $.getJSON("api/tags").done(function(data) {
      form.find("input,select,button").prop("disabled", false);
      filterButtonSpinner.prop("hidden", true);
      var tags = data;
      for (var i in tags) {
        var tag = tags[i];
        var tagItem = $('<option selected></option>').text(tag).prop("value", tag);
        tagsSelectElement.append(tagItem);
      }
    });
  });
  $('#transactionsFilterComponents').on('hide.bs.collapse', function(){
    var form = $(this).find("form");
    form.find("input,select,button").prop("disabled", true);
    form.find("select").empty();
    form.find("input").val("");
    filterParams = {};
    updateTransactionsForFilter();
  });
  $('#transactionsFilterComponents').on('hidden.bs.collapse', function(){
    $('#filterButton').removeClass("active");
  });
  var updateFilterForm = function() {
    if (accounts === null) return;
    $("#filterButton").prop("disabled", false);
  }
  $('#filterForm').submit(function(event) {
    event.preventDefault();
    var applyButton = $("#applyButton");
    var applyButtonSpinner = applyButton.find('span[role="status"]');;
    applyButton.prop("disabled", true);
    applyButtonSpinner.prop("hidden", false);
    var form = $(this);
    filterParams = {};
    filterParams.filterDescription = form.find('#inputFilterDescription').val();
    filterParams.filterFrom = form.find('#inputFilterFrom').val();
    filterParams.filterTo = form.find('#inputFilterTo').val();
    filterParams.filterTags = form.find('#filterTransactionTags').val().join(",");
    filterParams.filterAccounts = form.find('#filterTransactionAccounts').val().join(",");
    updateTransactionsForFilter().always(function() {
      applyButton.prop("disabled", false);
      applyButtonSpinner.prop("hidden", true);
    });
  })

  var loadTransactions = function() {
    addProgress();
    var updateIfReady = function() {
      if (accounts === null || count === null) return;
      updateVisibility();
      updatePagination();
      updateFilterForm();
    }
    $.post("api/transactions/getcount").done(function(data) {
      count = data;
      updateIfReady();
    });
    $.getJSON("api/accounts").done(function(data) {
      accounts = {};
      data.forEach(function (account) { accounts[account.ID] = account; });
      updateIfReady();
    });
  }
  loadTransactions();
});
</script>
{{ end }}