{{ define "content" }}
<h2>Trasaction</h2>
<form id="transactionForm" accept-charset="utf-8" autocomplete="off">
  <div class="form-row">
    <div class="form-group col-md-9">
      <label for="editDescription">Description</label>
      <input type="text" class="form-control" id="editDescription" placeholder="Enter transaction description" required>
    </div>
    <div class="form-group col-md-3">
      <label for="editDate">Date</label>
      <input type="date" class="form-control" id="editDate" placeholder="Enter transaction date" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="typeExpenseIncome" name="selectType" class="custom-control-input" value="0" required>
        <label class="custom-control-label" for="typeExpenseIncome">Expense/Income</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="typeTransfer" name="selectType" class="custom-control-input" value="1">
        <label class="custom-control-label" for="typeTransfer">Transfer</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="addTag">Tags <div id="tagsList"></div></label>
    <div class="dropdown">
      <input type="text" class="form-control dropdown-toggle" id="addTag" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" placeholder="Enter a tag">
      <div class="dropdown-menu" id="tagSuggestions"></div>
    </div>
    <small id="tagsHelp" class="form-text text-muted">Press Enter or the comma character to add the tag</small>
  </div>
  <div id="components"></div>
  <div class="form-group">
    <button id="addComponent" type="button" class="btn btn-outline-primary">Add component</button>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
      Save</button>
  </div>
  <div class="row">
    <div class="form-group col-md-12">
      <div id="saveSuccessful" class="alert alert-success" role="alert" hidden>Saved successfully</div>
      <div id="saveFailed" class="alert alert-danger" role="alert" hidden>Save failed</div>
    </div>
  </div>
  <div class="form-group">
    <button id="deleteButton" type="button" class="btn btn-danger">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
      Delete</button>
  </div>
  <div class="row">
    <div class="form-group col-md-12">
      <div id="deleteSuccessful" class="alert alert-success" role="alert" hidden>Deleted successfully</div>
      <div id="deleteFailed" class="alert alert-danger" role="alert" hidden>Delete failed</div>
    </div>
  </div>
</form>
<script type="text/javascript" src="static/extras.js"></script>
<script>
$(document).ready(function() {
  var transaction = null;
  var accounts = null;
  var componentsCounter = 0;
  var autocompleteTags = null;

  var urlParams = new URLSearchParams(window.location.search);

  var description = $('input[id="editDescription"]');
  var date = $('input[id="editDate"]');
  var submit = $('button[type="submit"]');
  var deleteButton = $('button[id="deleteButton"]');
  var spinner = $('button[type="submit"] span[role="status"]');
  var deleteSpinner = $('button[id="deleteButton"] span[role="status"]');
  
	var tagsInput = $('input[id="addTag"]');
	var tagsDropdown = $(".dropdown-menu#tagSuggestions");
	var tagsList = $("#tagsList");

  // Init tags input components
  var suggestTags = function(currentInput) {
    if (autocompleteTags === null) return [];
    return autocompleteTags.filter(function(tag){
			return currentInput === "" || tag.toLowerCase().startsWith(currentInput);
		});
  }
  var tagsInputComponent = initTagsInput(tagsInput, tagsDropdown, tagsList, suggestTags);

  var lockForm = function(lock) {
     $("#transactionForm").find("input").prop("readonly", lock);
     $("#transactionForm").find("select,button").prop("disabled", lock);
  }

  var updateCurrencyLabel = function(componentRow) {
    var accountID = $(componentRow).find("select").val();
    var currency = accountID ? accounts[accountID].Currency : "";
    componentRow.find(".input-group-text").text(currency);
  }

  var showResultAlert = function(alertDiv){
    alertDiv.hide();
    alertDiv.prop("hidden", false);
    alertDiv.slideDown();
  }

  var addComponent = function(component) {
    var index = componentsCounter++;
    var componentsTarget = $("#components");
    var componentRow = $('<div class="form-row align-items-end"></div>');
    var accountSelect = $('<select class="form-control custom-select" id="account' + index + '" required><option></option></select>');
    for (var i in accounts) {
      var account = accounts[i];
      if (!account.ShowInList) continue;
      var option = $('<option value="' + account.ID + '">' + account.Name + '</option>');
      if (component.AccountID === account.ID)
        option.prop("selected", true);
      accountSelect.append(option);
    }
    componentRow.append($('<div class="form-group col-md-5"></div>')
      .append('<label id="account' + index + '">Account</label>')
      .append(accountSelect)
    );
    var amountInput = $('<input type="number" class="form-control text-right" id="amount' + index + '" step="0.01" required></input>');
    amountInput.val(component.Amount/100);
    componentRow.append($('<div class="form-group col-md-5"></div>')
      .append('<label for="amount' + index + '">Amount</label>')
      .append($('<div class="input-group"></div>').append(amountInput).append('<div class="input-group-append"><div class="input-group-text"></div></div>'))
    );
    componentRow.append($('<div class="form-group col-md-2"></div>')
      .append('<button type="button" class="btn btn-outline-danger" data-delete="component">Delete</a>')
    );
    componentsTarget.append(componentRow);
    updateCurrencyLabel(componentRow);
    componentRow.hide().slideDown();
  }

  var updateIfReady = function() {
    if (transaction === null || accounts === null || autocompleteTags === null) return;
    description.val(transaction.Description);
    $('input[name=selectType][value="' + transaction.Type +'"]').prop("checked", true);
    transaction.Tags.forEach(tagsInputComponent.addTag);
    date.val(transaction.Date);
    lockForm(false);

    var componentsTarget = $("#components");
    componentsTarget.empty();
    for (var i in transaction.Components) {
      var component = transaction.Components[i];
      addComponent(component);
    }
  }

  //Add component button
  $("#addComponent").click(function(e){
    event.preventDefault();
    addComponent({});
  });

  //Delete component button
  $(document).on('click', 'button[data-delete="component"]', function(e) {
    e.preventDefault();
    var deleteButton = jQuery(this);
    deleteButton.parent().parent().slideUp(function(){deleteButton.parent().parent().remove()});
  });

  //Account changed
  $(document).on('change', 'select', function() {
    var selectAccountElement = jQuery(this);
    updateCurrencyLabel(selectAccountElement.parent().parent());
  });
    
  // Submit handler
  $("#transactionForm").submit(function(event) {
    event.preventDefault();
    lockForm(true);
    $("#saveFailed").prop("hidden", true);
    $("#saveSuccessful").prop("hidden", true);
    spinner.prop("hidden", false);
    transaction.Description = description.val();
    transaction.Type = parseInt($('input[name=selectType]:checked').val());
    transaction.Tags = tagsInputComponent.getTags();
    transaction.Date = date.val();
    transaction.Components = [];
    $("#components").children("div").each(function(i, componentRow){
      var accountID = parseInt($(componentRow).find('select').val());
      var amount = parseFloat($(componentRow).find('input').val()) * 100;
      transaction.Components.push({AccountID: accountID, Amount: amount});
    });
    var id = transaction.ID || "new";
    $.ajax("api/transaction/" + id, {
      data : JSON.stringify(transaction),
      contentType : 'application/json',
      type : 'POST'
    }).done(function() {
      window.location.href = "transactions";
      showResultAlert($("#saveSuccessful"));
    }).fail(function(data){
      showResultAlert($("#saveFailed"));
      lockForm(false);
    }).always(function(){
      spinner.prop("hidden", true);
    });
  });

  // Delete handler
  $("#deleteButton").click(function(event) {
    event.preventDefault();
    lockForm(true);
    $("#deleteFailed").prop("hidden", true);
    $("#deleteSuccessful").prop("hidden", true);
    deleteSpinner.prop("hidden", false);
    $.ajax("api/transaction/" + urlParams.get("id"), {
      type : 'DELETE'
    }).done(function() {
      window.location.href = "transactions";
      showResultAlert($("#deleteSuccessful"));
    }).fail(function(data){
      showResultAlert($("#deleteFailed"));
      lockForm(false);
    }).always(function(){
      deleteSpinner.prop("hidden", true);
    });
  });
  if (!urlParams.has("edit"))
    $("#deleteButton").remove();

  // Load transaction details
  var loadTransaction = function() {
    lockForm(true);
    var currentDate = new Date().toISOString().split("T")[0];
    if (urlParams.has("edit") || urlParams.has("duplicate")) {
      $.getJSON("api/transaction/" + urlParams.get("id")).done(function(data) {
        transaction = data;
        if(urlParams.has("duplicate")){
          delete transaction.ID;
          transaction.Date = currentDate;
        }
        updateIfReady();
      });
    } else if (urlParams.has("new")) {
      transaction = {Description: "", Type: 0, Date: currentDate, Tags: [], Components: []};
    }
    $.getJSON("api/accounts").done(function(data) {
      accounts = {};
      data.forEach(function (account) { accounts[account.ID] = account; });
      updateIfReady();
    });
    $.getJSON("api/tags").done(function(data) {
      autocompleteTags = data;
      updateIfReady();
    });
  }
  loadTransaction();
});
</script>
{{ end }}