/* Remove spinners */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

/* Allow word breaking for date column */
.date-column {
    word-break: break-word;
}

/* Tag editor */
.badge .badge-light .tag {
	line-height: normal;
}
.tag > .close {
	font-size: 100%;
}