/* Remove spinners */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

/* Transactions table container (to be covered with the loading shade) */
.transactions-table-container {
    position: relative;
}

/* Shade to indicate that transactions are loading */
.transactions-loading-shade {
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
}

.transactions-loading-spinner {
    position: -webkit-sticky;
    position: sticky;
    top: 50vh;
}

/* Cherry-pick from unreleased Bulma PR */
.is-align-self-flex-end {
    align-self: flex-end;
}
